{% extends '_main.html' %}
{% load thumbnail %}

{% block title %}{{ item.title }}{% endblock title %}

{% block content %}

    <!--Main layout-->
    <main class="mt-5 pt-4">
      <div class="container dark-grey-text mt-5">
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
          <div class="col-md-5 mb-4">
          {% thumbnail item.image "350x400" crop="center" as im %}
            <img
                src="{{ im.url }}"
                width="{{ im.width }}"
                height="{{ im.height }}"
                class="img-fluid"
                alt=""
            />
            {% endthumbnail %}
          
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-7 mb-4">
            <!--Content-->
            <div class="p-4">
              <div class="mb-3">
                <a href="">
                    <span class="badge purple mr-1">{{ object.get_category_display|upper }}</span>
                </a>
              </div>

              <p class="lead">
                {% if item.discount_price %}
                <span class="mr-1">
                  <del>${{ item.price }}</del>
                </span>
                <span>${{ item.discount_price }}</span>
                {% else %}
                <span>${{ item.price }}</span>
                {% endif %}
              </p>

              <p class="lead font-weight-bold">Description</p>

              <p>
                {{ item.description }}
              </p>

              {% comment %} <form class="d-flex justify-content-left" action="{% url 'base:add_to_cart' item.slug %}">
                <!-- Default input -->
                <input
                  type="number"
                  value="1"
                  aria-label="Search"
                  class="form-control"
                  style="width: 100px"
                />
                <button class="btn btn-primary btn-md my-0 p" type="submit">
                  Add to cart
                  <i class="fas fa-shopping-cart ml-1"></i>
                </button>
              </form> {% endcomment %}
              <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>
              <a href="{{ item.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                Remove from cart
              </a>
            </div>
            <!--Content-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->

        <hr />

        {% if related_products %}
        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">
          <!--Grid column-->
          <div class="col-md-6 text-center">
            <h4 class="my-4 h4">Related Products</h4>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
        {% endif %}

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for item in related_products %}
          <!--Grid column-->
          <div class="col-lg-3 col-md-12 mb-4">
            <div class="card">
                <!--Card image-->
                <div class="view overlay">
                    {% thumbnail item.image "200x220" crop="center" as im %}
                    <img
                        src="{{ im.url }}"
                        width="{{ im.width }}"
                        height="{{ im.height }}"
                        class="card-img-top"
                        alt=""
                    />
                    {% endthumbnail %}
                    <a href="{{ item.get_absolute_url }}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                <!--Category & Title-->
                <a href="{{ item.get_absolute_url }}" class="grey-text">
                    <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                    <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text"
                        >{{ item.title }}
                        <span class="badge badge-pill {{ item.label }}-color">{{ item.get_label_display|upper }}</span>
                    </a>
                    </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                    <strong>$
                        {% if item.discount_price %}
                        {{ item.discount_price }}
                        {% else %}
                        {{ item.price }}
                        {% endif %}
                    </strong>
                </h4>
                </div>
                <!--Card content-->
            </div>
            <!--Card-->
          </div>
          {% endfor %}
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </div>
    </main>
    <!--Main layout-->

{% endblock content %}

    